PMSClientCastDivision/Service References/SanjieService/SanjieService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SanjieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/SanjieService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/SanjieService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/SanjieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISanjieService_GetMaterialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrder" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderCount" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItembyMaterialID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItembyMaterialID" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItembyMaterialID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItembyMaterialIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtras_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtras" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtras_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtrasResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtrasCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtrasCount" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtrasCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtrasCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtrasUnCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtrasUnCompleted" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtrasUnCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtrasUnCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtrasUnCompletedCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtrasUnCompletedCount" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtrasUnCompletedCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtrasUnCompletedCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_FinishMaterialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishMaterialOrder" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_FinishMaterialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishMaterialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_FinishMaterialOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishMaterialOrderItem" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_FinishMaterialOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishMaterialOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_UpdateMaterialOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialOrderItem" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_UpdateMaterialOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_AddToMaterialIn_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToMaterialIn" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_AddToMaterialIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToMaterialInResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_AddToCompound_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToCompound" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_AddToCompound_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToCompoundResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryIns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryIns" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryIns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInsResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryInCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInCount" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryInCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryOuts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryOuts" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryOuts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryOutsResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryOutCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryOutCount" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryOutCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryOutCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetItemDebit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemDebit" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetItemDebit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemDebitResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetItemDebitCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemDebitCount" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetItemDebitCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemDebitCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtraByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtraByYear" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtraByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtraByYearResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtraCountByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtraCountByYear" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialOrderItemExtraCountByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemExtraCountByYearResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryInByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInByYear" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryInByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInByYearResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryInCountByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInCountByYear" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryInCountByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInCountByYearResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryOutsByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryOutsByYear" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryOutsByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryOutsByYearResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryOutCountByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryOutCountByYear" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryOutCountByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryOutCountByYearResponse" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryInTemporary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInTemporary" />
  </wsdl:message>
  <wsdl:message name="ISanjieService_GetMaterialInventoryInTemporary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialInventoryInTemporaryResponse" />
  </wsdl:message>
  <wsdl:portType name="ISanjieService">
    <wsdl:operation name="GetMaterialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrder" message="tns:ISanjieService_GetMaterialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderResponse" message="tns:ISanjieService_GetMaterialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderCount" message="tns:ISanjieService_GetMaterialOrderCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderCountResponse" message="tns:ISanjieService_GetMaterialOrderCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItembyMaterialID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItembyMaterialID" message="tns:ISanjieService_GetMaterialOrderItembyMaterialID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItembyMaterialIDResponse" message="tns:ISanjieService_GetMaterialOrderItembyMaterialID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtras">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtras" message="tns:ISanjieService_GetMaterialOrderItemExtras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasResponse" message="tns:ISanjieService_GetMaterialOrderItemExtras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtrasCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasCount" message="tns:ISanjieService_GetMaterialOrderItemExtrasCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasCountResponse" message="tns:ISanjieService_GetMaterialOrderItemExtrasCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtrasUnCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasUnCompleted" message="tns:ISanjieService_GetMaterialOrderItemExtrasUnCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasUnCompletedResponse" message="tns:ISanjieService_GetMaterialOrderItemExtrasUnCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtrasUnCompletedCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasUnCompletedCount" message="tns:ISanjieService_GetMaterialOrderItemExtrasUnCompletedCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasUnCompletedCountResponse" message="tns:ISanjieService_GetMaterialOrderItemExtrasUnCompletedCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishMaterialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/FinishMaterialOrder" message="tns:ISanjieService_FinishMaterialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/FinishMaterialOrderResponse" message="tns:ISanjieService_FinishMaterialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishMaterialOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/FinishMaterialOrderItem" message="tns:ISanjieService_FinishMaterialOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/FinishMaterialOrderItemResponse" message="tns:ISanjieService_FinishMaterialOrderItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/UpdateMaterialOrderItem" message="tns:ISanjieService_UpdateMaterialOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/UpdateMaterialOrderItemResponse" message="tns:ISanjieService_UpdateMaterialOrderItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToMaterialIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/AddToMaterialIn" message="tns:ISanjieService_AddToMaterialIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/AddToMaterialInResponse" message="tns:ISanjieService_AddToMaterialIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToCompound">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/AddToCompound" message="tns:ISanjieService_AddToCompound_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/AddToCompoundResponse" message="tns:ISanjieService_AddToCompound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryIns">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryIns" message="tns:ISanjieService_GetMaterialInventoryIns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInsResponse" message="tns:ISanjieService_GetMaterialInventoryIns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryInCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInCount" message="tns:ISanjieService_GetMaterialInventoryInCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInCountResponse" message="tns:ISanjieService_GetMaterialInventoryInCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryOuts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryOuts" message="tns:ISanjieService_GetMaterialInventoryOuts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryOutsResponse" message="tns:ISanjieService_GetMaterialInventoryOuts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryOutCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryOutCount" message="tns:ISanjieService_GetMaterialInventoryOutCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryOutCountResponse" message="tns:ISanjieService_GetMaterialInventoryOutCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemDebit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetItemDebit" message="tns:ISanjieService_GetItemDebit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetItemDebitResponse" message="tns:ISanjieService_GetItemDebit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemDebitCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetItemDebitCount" message="tns:ISanjieService_GetItemDebitCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetItemDebitCountResponse" message="tns:ISanjieService_GetItemDebitCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtraByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtraByYear" message="tns:ISanjieService_GetMaterialOrderItemExtraByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtraByYearResponse" message="tns:ISanjieService_GetMaterialOrderItemExtraByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtraCountByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtraCountByYear" message="tns:ISanjieService_GetMaterialOrderItemExtraCountByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtraCountByYearResponse" message="tns:ISanjieService_GetMaterialOrderItemExtraCountByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryInByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInByYear" message="tns:ISanjieService_GetMaterialInventoryInByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInByYearResponse" message="tns:ISanjieService_GetMaterialInventoryInByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryInCountByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInCountByYear" message="tns:ISanjieService_GetMaterialInventoryInCountByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInCountByYearResponse" message="tns:ISanjieService_GetMaterialInventoryInCountByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryOutsByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryOutsByYear" message="tns:ISanjieService_GetMaterialInventoryOutsByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryOutsByYearResponse" message="tns:ISanjieService_GetMaterialInventoryOutsByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryOutCountByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryOutCountByYear" message="tns:ISanjieService_GetMaterialInventoryOutCountByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryOutCountByYearResponse" message="tns:ISanjieService_GetMaterialInventoryOutCountByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryInTemporary">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInTemporary" message="tns:ISanjieService_GetMaterialInventoryInTemporary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanjieService/GetMaterialInventoryInTemporaryResponse" message="tns:ISanjieService_GetMaterialInventoryInTemporary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sanjie" type="tns:ISanjieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaterialOrder">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderCount">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrderCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItembyMaterialID">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrderItembyMaterialID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtras">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtrasCount">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtrasUnCompleted">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasUnCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtrasUnCompletedCount">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtrasUnCompletedCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishMaterialOrder">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/FinishMaterialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishMaterialOrderItem">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/FinishMaterialOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialOrderItem">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/UpdateMaterialOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToMaterialIn">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/AddToMaterialIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCompound">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/AddToCompound" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryIns">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryIns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryInCount">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryInCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryOuts">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryOuts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryOutCount">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryOutCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemDebit">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetItemDebit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemDebitCount">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetItemDebitCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtraByYear">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtraByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemExtraCountByYear">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialOrderItemExtraCountByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryInByYear">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryInByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryInCountByYear">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryInCountByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryOutsByYear">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryOutsByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryOutCountByYear">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryOutCountByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialInventoryInTemporary">
      <soap:operation soapAction="http://tempuri.org/ISanjieService/GetMaterialInventoryInTemporary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SanjieService">
    <wsdl:port name="sanjie" binding="tns:sanjie">
      <soap:address location="http://192.168.16.254:8002/SanjieService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>