PMSDesktopClient/Service References/ServiceReference/PMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8002/PMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8002/PMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8002/PMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetAllOrderInPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderInPage" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrderInPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderInPageResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderBySearchInPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderBySearchInPage" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderBySearchInPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderBySearchInPageResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderCountBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderCountBySearch" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderCountBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderCountBySearchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanVHPService_GetVHPPlansByOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVHPPlansByOrderID" />
  </wsdl:message>
  <wsdl:message name="IPlanVHPService_GetVHPPlansByOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVHPPlansByOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanVHPService_AddVHPPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVHPPlan" />
  </wsdl:message>
  <wsdl:message name="IPlanVHPService_AddVHPPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVHPPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanVHPService_UpdateVHPPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVHPPlan" />
  </wsdl:message>
  <wsdl:message name="IPlanVHPService_UpdateVHPPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVHPPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanVHPService_DeleteVHPPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVHPPlan" />
  </wsdl:message>
  <wsdl:message name="IPlanVHPService_DeleteVHPPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVHPPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_GetMaterialNeedBySearchInPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialNeedBySearchInPage" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_GetMaterialNeedBySearchInPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialNeedBySearchInPageResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_GetMaterialNeedCountBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialNeedCountBySearch" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_GetMaterialNeedCountBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialNeedCountBySearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_AddMaterialNeed_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialNeed" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_AddMaterialNeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialNeedResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_UpdateMaterialNeed_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialNeed" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_UpdateMaterialNeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialNeedResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_DeleteMaterialNeed_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialNeed" />
  </wsdl:message>
  <wsdl:message name="IMaterialNeedService_DeleteMaterialNeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialNeedResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_GetMaterialOrderBySearchInPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderBySearchInPage" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_GetMaterialOrderBySearchInPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderBySearchInPageResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_GetMaterialOrderCountBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderCountBySearch" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_GetMaterialOrderCountBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderCountBySearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_AddMaterialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialOrder" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_AddMaterialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_UpdateMaterialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialOrder" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_UpdateMaterialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_DeleteMaterialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialOrder" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_DeleteMaterialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_GetMaterialOrderItembyMaterialID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItembyMaterialID" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_GetMaterialOrderItembyMaterialID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItembyMaterialIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_AddMaterialOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialOrderItem" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_AddMaterialOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_UpdateMaterialOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialOrderItem" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_UpdateMaterialOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_DeleteMaterialOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialOrderItem" />
  </wsdl:message>
  <wsdl:message name="IMaterialOrderService_DeleteMaterialOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="IMissonService_GetMissonBySearchInPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonBySearchInPage" />
  </wsdl:message>
  <wsdl:message name="IMissonService_GetMissonBySearchInPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonBySearchInPageResponse" />
  </wsdl:message>
  <wsdl:message name="IMissonService_GetMissonCountBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonCountBySearch" />
  </wsdl:message>
  <wsdl:message name="IMissonService_GetMissonCountBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonCountBySearchResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_GetRecordProductBySearchInPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordProductBySearchInPage" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_GetRecordProductBySearchInPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordProductBySearchInPageResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_GetRecordProductCountBySearchInPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordProductCountBySearchInPage" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_GetRecordProductCountBySearchInPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordProductCountBySearchInPageResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_AddRecordProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordProduct" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_AddRecordProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordProductResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_UpdateRecordProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordProduct" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_UpdateRecordProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordProductResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_DeleteRecordProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordProduct" />
  </wsdl:message>
  <wsdl:message name="IRecordProductService_DeleteRecordProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordProductResponse" />
  </wsdl:message>
  <wsdl:message name="IMissonWithPlanService_GetMissonWithPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonWithPlan" />
  </wsdl:message>
  <wsdl:message name="IMissonWithPlanService_GetMissonWithPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonWithPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IMissonWithPlanService_GetMissonWithPlanCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonWithPlanCount" />
  </wsdl:message>
  <wsdl:message name="IMissonWithPlanService_GetMissonWithPlanCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonWithPlanCountResponse" />
  </wsdl:message>
  <wsdl:message name="IMissonWithPlanService_GetMissonWithPlanByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonWithPlanByDate" />
  </wsdl:message>
  <wsdl:message name="IMissonWithPlanService_GetMissonWithPlanByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonWithPlanByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_GetDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDelivery" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_GetDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_GetDeliveryCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryCount" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_GetDeliveryCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryCountResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_AddRecordDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordDelivery" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_AddRecordDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_UpdateReocrdDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReocrdDelivery" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_UpdateReocrdDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReocrdDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_DeleteRecordDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordDelivery" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_DeleteRecordDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_AddRecordDeliveryItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordDeliveryItem" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_AddRecordDeliveryItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordDeliveryItemResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_UpdateReocrdDeliveryItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReocrdDeliveryItem" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_UpdateReocrdDeliveryItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReocrdDeliveryItemResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_DeleteRecordDeliveryItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordDeliveryItem" />
  </wsdl:message>
  <wsdl:message name="IRecordDeliveryService_DeleteRecordDeliveryItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordDeliveryItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetAllOrderInPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllOrderInPage" message="tns:IOrderService_GetAllOrderInPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllOrderInPageResponse" message="tns:IOrderService_GetAllOrderInPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderBySearchInPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderBySearchInPage" message="tns:IOrderService_GetOrderBySearchInPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderBySearchInPageResponse" message="tns:IOrderService_GetOrderBySearchInPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderCountBySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderCountBySearch" message="tns:IOrderService_GetOrderCountBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderCountBySearchResponse" message="tns:IOrderService_GetOrderCountBySearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddOrder" message="tns:IOrderService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddOrderResponse" message="tns:IOrderService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateOrder" message="tns:IOrderService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderResponse" message="tns:IOrderService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderResponse" message="tns:IOrderService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPlanVHPService">
    <wsdl:operation name="GetVHPPlansByOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanVHPService/GetVHPPlansByOrderID" message="tns:IPlanVHPService_GetVHPPlansByOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanVHPService/GetVHPPlansByOrderIDResponse" message="tns:IPlanVHPService_GetVHPPlansByOrderID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVHPPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanVHPService/AddVHPPlan" message="tns:IPlanVHPService_AddVHPPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanVHPService/AddVHPPlanResponse" message="tns:IPlanVHPService_AddVHPPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVHPPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanVHPService/UpdateVHPPlan" message="tns:IPlanVHPService_UpdateVHPPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanVHPService/UpdateVHPPlanResponse" message="tns:IPlanVHPService_UpdateVHPPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVHPPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanVHPService/DeleteVHPPlan" message="tns:IPlanVHPService_DeleteVHPPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanVHPService/DeleteVHPPlanResponse" message="tns:IPlanVHPService_DeleteVHPPlan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMaterialNeedService">
    <wsdl:operation name="GetMaterialNeedBySearchInPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialNeedService/GetMaterialNeedBySearchInPage" message="tns:IMaterialNeedService_GetMaterialNeedBySearchInPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialNeedService/GetMaterialNeedBySearchInPageResponse" message="tns:IMaterialNeedService_GetMaterialNeedBySearchInPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialNeedCountBySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialNeedService/GetMaterialNeedCountBySearch" message="tns:IMaterialNeedService_GetMaterialNeedCountBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialNeedService/GetMaterialNeedCountBySearchResponse" message="tns:IMaterialNeedService_GetMaterialNeedCountBySearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterialNeed">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialNeedService/AddMaterialNeed" message="tns:IMaterialNeedService_AddMaterialNeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialNeedService/AddMaterialNeedResponse" message="tns:IMaterialNeedService_AddMaterialNeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialNeed">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialNeedService/UpdateMaterialNeed" message="tns:IMaterialNeedService_UpdateMaterialNeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialNeedService/UpdateMaterialNeedResponse" message="tns:IMaterialNeedService_UpdateMaterialNeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialNeed">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialNeedService/DeleteMaterialNeed" message="tns:IMaterialNeedService_DeleteMaterialNeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialNeedService/DeleteMaterialNeedResponse" message="tns:IMaterialNeedService_DeleteMaterialNeed_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMaterialOrderService">
    <wsdl:operation name="GetMaterialOrderBySearchInPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/GetMaterialOrderBySearchInPage" message="tns:IMaterialOrderService_GetMaterialOrderBySearchInPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/GetMaterialOrderBySearchInPageResponse" message="tns:IMaterialOrderService_GetMaterialOrderBySearchInPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderCountBySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/GetMaterialOrderCountBySearch" message="tns:IMaterialOrderService_GetMaterialOrderCountBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/GetMaterialOrderCountBySearchResponse" message="tns:IMaterialOrderService_GetMaterialOrderCountBySearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/AddMaterialOrder" message="tns:IMaterialOrderService_AddMaterialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/AddMaterialOrderResponse" message="tns:IMaterialOrderService_AddMaterialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/UpdateMaterialOrder" message="tns:IMaterialOrderService_UpdateMaterialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/UpdateMaterialOrderResponse" message="tns:IMaterialOrderService_UpdateMaterialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/DeleteMaterialOrder" message="tns:IMaterialOrderService_DeleteMaterialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/DeleteMaterialOrderResponse" message="tns:IMaterialOrderService_DeleteMaterialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItembyMaterialID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/GetMaterialOrderItembyMaterialID" message="tns:IMaterialOrderService_GetMaterialOrderItembyMaterialID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/GetMaterialOrderItembyMaterialIDResponse" message="tns:IMaterialOrderService_GetMaterialOrderItembyMaterialID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterialOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/AddMaterialOrderItem" message="tns:IMaterialOrderService_AddMaterialOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/AddMaterialOrderItemResponse" message="tns:IMaterialOrderService_AddMaterialOrderItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/UpdateMaterialOrderItem" message="tns:IMaterialOrderService_UpdateMaterialOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/UpdateMaterialOrderItemResponse" message="tns:IMaterialOrderService_UpdateMaterialOrderItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialOrderService/DeleteMaterialOrderItem" message="tns:IMaterialOrderService_DeleteMaterialOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialOrderService/DeleteMaterialOrderItemResponse" message="tns:IMaterialOrderService_DeleteMaterialOrderItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMissonService">
    <wsdl:operation name="GetMissonBySearchInPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissonService/GetMissonBySearchInPage" message="tns:IMissonService_GetMissonBySearchInPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissonService/GetMissonBySearchInPageResponse" message="tns:IMissonService_GetMissonBySearchInPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMissonCountBySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissonService/GetMissonCountBySearch" message="tns:IMissonService_GetMissonCountBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissonService/GetMissonCountBySearchResponse" message="tns:IMissonService_GetMissonCountBySearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRecordProductService">
    <wsdl:operation name="GetRecordProductBySearchInPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordProductService/GetRecordProductBySearchInPage" message="tns:IRecordProductService_GetRecordProductBySearchInPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordProductService/GetRecordProductBySearchInPageResponse" message="tns:IRecordProductService_GetRecordProductBySearchInPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordProductCountBySearchInPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordProductService/GetRecordProductCountBySearchInPage" message="tns:IRecordProductService_GetRecordProductCountBySearchInPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordProductService/GetRecordProductCountBySearchInPageResponse" message="tns:IRecordProductService_GetRecordProductCountBySearchInPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecordProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordProductService/AddRecordProduct" message="tns:IRecordProductService_AddRecordProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordProductService/AddRecordProductResponse" message="tns:IRecordProductService_AddRecordProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordProductService/UpdateRecordProduct" message="tns:IRecordProductService_UpdateRecordProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordProductService/UpdateRecordProductResponse" message="tns:IRecordProductService_UpdateRecordProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordProductService/DeleteRecordProduct" message="tns:IRecordProductService_DeleteRecordProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordProductService/DeleteRecordProductResponse" message="tns:IRecordProductService_DeleteRecordProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMissonWithPlanService">
    <wsdl:operation name="GetMissonWithPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlan" message="tns:IMissonWithPlanService_GetMissonWithPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlanResponse" message="tns:IMissonWithPlanService_GetMissonWithPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMissonWithPlanCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlanCount" message="tns:IMissonWithPlanService_GetMissonWithPlanCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlanCountResponse" message="tns:IMissonWithPlanService_GetMissonWithPlanCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMissonWithPlanByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlanByDate" message="tns:IMissonWithPlanService_GetMissonWithPlanByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlanByDateResponse" message="tns:IMissonWithPlanService_GetMissonWithPlanByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRecordDeliveryService">
    <wsdl:operation name="GetDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordDeliveryService/GetDelivery" message="tns:IRecordDeliveryService_GetDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordDeliveryService/GetDeliveryResponse" message="tns:IRecordDeliveryService_GetDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordDeliveryService/GetDeliveryCount" message="tns:IRecordDeliveryService_GetDeliveryCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordDeliveryService/GetDeliveryCountResponse" message="tns:IRecordDeliveryService_GetDeliveryCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecordDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordDeliveryService/AddRecordDelivery" message="tns:IRecordDeliveryService_AddRecordDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordDeliveryService/AddRecordDeliveryResponse" message="tns:IRecordDeliveryService_AddRecordDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReocrdDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordDeliveryService/UpdateReocrdDelivery" message="tns:IRecordDeliveryService_UpdateReocrdDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordDeliveryService/UpdateReocrdDeliveryResponse" message="tns:IRecordDeliveryService_UpdateReocrdDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordDeliveryService/DeleteRecordDelivery" message="tns:IRecordDeliveryService_DeleteRecordDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordDeliveryService/DeleteRecordDeliveryResponse" message="tns:IRecordDeliveryService_DeleteRecordDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecordDeliveryItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordDeliveryService/AddRecordDeliveryItem" message="tns:IRecordDeliveryService_AddRecordDeliveryItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordDeliveryService/AddRecordDeliveryItemResponse" message="tns:IRecordDeliveryService_AddRecordDeliveryItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReocrdDeliveryItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordDeliveryService/UpdateReocrdDeliveryItem" message="tns:IRecordDeliveryService_UpdateReocrdDeliveryItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordDeliveryService/UpdateReocrdDeliveryItemResponse" message="tns:IRecordDeliveryService_UpdateReocrdDeliveryItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordDeliveryItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordDeliveryService/DeleteRecordDeliveryItem" message="tns:IRecordDeliveryService_DeleteRecordDeliveryItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordDeliveryService/DeleteRecordDeliveryItemResponse" message="tns:IRecordDeliveryService_DeleteRecordDeliveryItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="order" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllOrderInPage">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetAllOrderInPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderBySearchInPage">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrderBySearchInPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderCountBySearch">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrderCountBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="planvhp" type="tns:IPlanVHPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVHPPlansByOrderID">
      <soap:operation soapAction="http://tempuri.org/IPlanVHPService/GetVHPPlansByOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVHPPlan">
      <soap:operation soapAction="http://tempuri.org/IPlanVHPService/AddVHPPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVHPPlan">
      <soap:operation soapAction="http://tempuri.org/IPlanVHPService/UpdateVHPPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVHPPlan">
      <soap:operation soapAction="http://tempuri.org/IPlanVHPService/DeleteVHPPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="materialneed" type="tns:IMaterialNeedService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaterialNeedBySearchInPage">
      <soap:operation soapAction="http://tempuri.org/IMaterialNeedService/GetMaterialNeedBySearchInPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialNeedCountBySearch">
      <soap:operation soapAction="http://tempuri.org/IMaterialNeedService/GetMaterialNeedCountBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMaterialNeed">
      <soap:operation soapAction="http://tempuri.org/IMaterialNeedService/AddMaterialNeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialNeed">
      <soap:operation soapAction="http://tempuri.org/IMaterialNeedService/UpdateMaterialNeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialNeed">
      <soap:operation soapAction="http://tempuri.org/IMaterialNeedService/DeleteMaterialNeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="materialorder" type="tns:IMaterialOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaterialOrderBySearchInPage">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/GetMaterialOrderBySearchInPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderCountBySearch">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/GetMaterialOrderCountBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMaterialOrder">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/AddMaterialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialOrder">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/UpdateMaterialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialOrder">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/DeleteMaterialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItembyMaterialID">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/GetMaterialOrderItembyMaterialID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMaterialOrderItem">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/AddMaterialOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialOrderItem">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/UpdateMaterialOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialOrderItem">
      <soap:operation soapAction="http://tempuri.org/IMaterialOrderService/DeleteMaterialOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="misson" type="tns:IMissonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMissonBySearchInPage">
      <soap:operation soapAction="http://tempuri.org/IMissonService/GetMissonBySearchInPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMissonCountBySearch">
      <soap:operation soapAction="http://tempuri.org/IMissonService/GetMissonCountBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="recordproduct" type="tns:IRecordProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecordProductBySearchInPage">
      <soap:operation soapAction="http://tempuri.org/IRecordProductService/GetRecordProductBySearchInPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordProductCountBySearchInPage">
      <soap:operation soapAction="http://tempuri.org/IRecordProductService/GetRecordProductCountBySearchInPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecordProduct">
      <soap:operation soapAction="http://tempuri.org/IRecordProductService/AddRecordProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordProduct">
      <soap:operation soapAction="http://tempuri.org/IRecordProductService/UpdateRecordProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordProduct">
      <soap:operation soapAction="http://tempuri.org/IRecordProductService/DeleteRecordProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="missonwithplan" type="tns:IMissonWithPlanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMissonWithPlan">
      <soap:operation soapAction="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMissonWithPlanCount">
      <soap:operation soapAction="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlanCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMissonWithPlanByDate">
      <soap:operation soapAction="http://tempuri.org/IMissonWithPlanService/GetMissonWithPlanByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="delivery" type="tns:IRecordDeliveryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDelivery">
      <soap:operation soapAction="http://tempuri.org/IRecordDeliveryService/GetDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryCount">
      <soap:operation soapAction="http://tempuri.org/IRecordDeliveryService/GetDeliveryCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecordDelivery">
      <soap:operation soapAction="http://tempuri.org/IRecordDeliveryService/AddRecordDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReocrdDelivery">
      <soap:operation soapAction="http://tempuri.org/IRecordDeliveryService/UpdateReocrdDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordDelivery">
      <soap:operation soapAction="http://tempuri.org/IRecordDeliveryService/DeleteRecordDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecordDeliveryItem">
      <soap:operation soapAction="http://tempuri.org/IRecordDeliveryService/AddRecordDeliveryItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReocrdDeliveryItem">
      <soap:operation soapAction="http://tempuri.org/IRecordDeliveryService/UpdateReocrdDeliveryItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordDeliveryItem">
      <soap:operation soapAction="http://tempuri.org/IRecordDeliveryService/DeleteRecordDeliveryItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PMSService">
    <wsdl:port name="order" binding="tns:order">
      <soap:address location="http://localhost:8002/PMSService.svc" />
    </wsdl:port>
    <wsdl:port name="planvhp" binding="tns:planvhp">
      <soap:address location="http://localhost:8002/PMSService.svc" />
    </wsdl:port>
    <wsdl:port name="materialneed" binding="tns:materialneed">
      <soap:address location="http://localhost:8002/PMSService.svc" />
    </wsdl:port>
    <wsdl:port name="materialorder" binding="tns:materialorder">
      <soap:address location="http://localhost:8002/PMSService.svc" />
    </wsdl:port>
    <wsdl:port name="misson" binding="tns:misson">
      <soap:address location="http://localhost:8002/PMSService.svc" />
    </wsdl:port>
    <wsdl:port name="recordproduct" binding="tns:recordproduct">
      <soap:address location="http://localhost:8002/PMSService.svc" />
    </wsdl:port>
    <wsdl:port name="missonwithplan" binding="tns:missonwithplan">
      <soap:address location="http://localhost:8002/PMSService.svc" />
    </wsdl:port>
    <wsdl:port name="delivery" binding="tns:delivery">
      <soap:address location="http://localhost:8002/PMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>