PMSLargeScreenFixed/Service References/LargeScreenService/LargeScreenService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/LargeScreenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcPlanExtra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcPlanExtra" nillable="true" type="tns:DcPlanExtra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcPlanExtra" nillable="true" type="tns:ArrayOfDcPlanExtra" />
  <xs:complexType name="DcPlanExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Misson" nillable="true" type="tns:DcOrder" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="tns:DcPlanVHP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPlanExtra" nillable="true" type="tns:DcPlanExtra" />
  <xs:complexType name="DcOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompositionAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionStandard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeadLine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MaterialIndex" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumAcceptDefect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductionIndex" type="xs:double" />
      <xs:element minOccurs="0" name="Purity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="QuantityUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reviewer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleNeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateRemark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcOrder" nillable="true" type="tns:DcOrder" />
  <xs:complexType name="DcPlanVHP">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllWeight" type="xs:double" />
      <xs:element minOccurs="0" name="CalculationDensity" type="xs:double" />
      <xs:element minOccurs="0" name="Conclusion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FillingRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="GrainSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="KeepTempTime" type="xs:double" />
      <xs:element minOccurs="0" name="MachineRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MillingRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoldDiameter" type="xs:double" />
      <xs:element minOccurs="0" name="MoldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="ser:guid" />
      <xs:element minOccurs="0" name="PlanDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlanLot" type="xs:int" />
      <xs:element minOccurs="0" name="PlanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrePressure" type="xs:double" />
      <xs:element minOccurs="0" name="PreTemperature" type="xs:double" />
      <xs:element minOccurs="0" name="Pressure" type="xs:double" />
      <xs:element minOccurs="0" name="ProcessCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomHumidity" type="xs:double" />
      <xs:element minOccurs="0" name="RoomTemperature" type="xs:double" />
      <xs:element minOccurs="0" name="SearchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingleWeight" type="xs:double" />
      <xs:element minOccurs="0" name="SpecialRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="Thickness" type="xs:double" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Updator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VHPDeviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VHPRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vaccum" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPlanVHP" nillable="true" type="tns:DcPlanVHP" />
  <xs:complexType name="ArrayOfDcStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcStatistic" nillable="true" type="tns:DcStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcStatistic" nillable="true" type="tns:ArrayOfDcStatistic" />
  <xs:complexType name="DcStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcStatistic" nillable="true" type="tns:DcStatistic" />
  <xs:complexType name="ArrayOfDcRecordBonding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcRecordBonding" nillable="true" type="tns:DcRecordBonding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcRecordBonding" nillable="true" type="tns:ArrayOfDcRecordBonding" />
  <xs:complexType name="DcRecordBonding">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApperanceCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApperanceCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ApperancePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BindingCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BindingCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BindingPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CleanCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CleanCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CleanPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverPlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DimensionPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionWarpageCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InstructionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PackPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateAppearance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateBelong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlateDimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateHardness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateLastWeldMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateOtherRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatePreProcessCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlatePreProcessPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatePreProcessRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateSuplier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateUseCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SprayCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SprayCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SprayPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAppearance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TargetComposition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDefects" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDetailRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDiameterCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPreProcessCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TargetPreProcessPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPreProcessRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetThicknessCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetWarpageCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarpageCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WarpageFix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarpagePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeldCuStringDiameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldHold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldPerson" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcRecordBonding" nillable="true" type="tns:DcRecordBonding" />
</xs:schema>