PMSLargeScreenFilling/Service References/ExtraService/ExtraService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/ExtraService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcItemDebit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcItemDebit" nillable="true" type="tns:DcItemDebit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcItemDebit" nillable="true" type="tns:ArrayOfDcItemDebit" />
  <xs:complexType name="DcItemDebit">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Creditor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="Remark" type="xs:double" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" type="xs:double" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcItemDebit" nillable="true" type="tns:DcItemDebit" />
  <xs:complexType name="ArrayOfDcCheckList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcCheckList" nillable="true" type="tns:DcCheckList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcCheckList" nillable="true" type="tns:ArrayOfDcCheckList" />
  <xs:complexType name="DcCheckList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Introduction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Updator" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcCheckList" nillable="true" type="tns:DcCheckList" />
  <xs:complexType name="ArrayOfDcFeedBack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcFeedBack" nillable="true" type="tns:DcFeedBack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcFeedBack" nillable="true" type="tns:ArrayOfDcFeedBack" />
  <xs:complexType name="DcFeedBack">
    <xs:sequence>
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Problem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessWay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcFeedBack" nillable="true" type="tns:DcFeedBack" />
  <xs:complexType name="DcEnvironmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Humidity" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcEnvironmentInfo" nillable="true" type="tns:DcEnvironmentInfo" />
  <xs:complexType name="ArrayOfDcToDo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcToDo" nillable="true" type="tns:DcToDo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcToDo" nillable="true" type="tns:ArrayOfDcToDo" />
  <xs:complexType name="DcToDo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeadLine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinishTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="PersonInCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Progress" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcToDo" nillable="true" type="tns:DcToDo" />
  <xs:complexType name="ArrayOfDcToolFilling">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcToolFilling" nillable="true" type="tns:DcToolFilling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcToolFilling" nillable="true" type="tns:ArrayOfDcToolFilling" />
  <xs:complexType name="DcToolFilling">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompositionAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToolNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcToolFilling" nillable="true" type="tns:DcToolFilling" />
  <xs:complexType name="ArrayOfDcToolMilling">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcToolMilling" nillable="true" type="tns:DcToolMilling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcToolMilling" nillable="true" type="tns:ArrayOfDcToolMilling" />
  <xs:complexType name="DcToolMilling">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxNumber" type="xs:int" />
      <xs:element minOccurs="0" name="CompositionAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToolNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcToolMilling" nillable="true" type="tns:DcToolMilling" />
  <xs:complexType name="ArrayOfDcRemainInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcRemainInventory" nillable="true" type="tns:DcRemainInventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcRemainInventory" nillable="true" type="tns:ArrayOfDcRemainInventory" />
  <xs:complexType name="DcRemainInventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcRemainInventory" nillable="true" type="tns:DcRemainInventory" />
  <xs:complexType name="ArrayOfDcPMICounter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcPMICounter" nillable="true" type="tns:DcPMICounter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcPMICounter" nillable="true" type="tns:ArrayOfDcPMICounter" />
  <xs:complexType name="DcPMICounter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemCount" type="xs:double" />
      <xs:element minOccurs="0" name="ItemDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemSpecification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowOrder" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPMICounter" nillable="true" type="tns:DcPMICounter" />
</xs:schema>