PMSClient/Service References/DrawingService/DrawingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/DrawingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
  <xs:element name="GetDrawing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" type="xs:int" />
        <xs:element minOccurs="0" name="t" type="xs:int" />
        <xs:element minOccurs="0" name="drawingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mainDimension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrawingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetDrawingResult" nillable="true" type="q1:ArrayOfDcDrawing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrawingCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drawingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mainDimension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrawingCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDrawingCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDrawing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="model" nillable="true" type="q2:DcDrawing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDrawingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrawing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="model" nillable="true" type="q3:DcDrawing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrawingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>