PMSClient/Service References/DrawingService/DrawingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/DrawingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcDrawing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcDrawing" nillable="true" type="tns:DcDrawing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcDrawing" nillable="true" type="tns:ArrayOfDcDrawing" />
  <xs:complexType name="DcDrawing">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DrawID" type="ser:guid" />
          <xs:element minOccurs="0" name="DrawingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DrawingType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtraDimension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MainDimension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcDrawing" nillable="true" type="tns:DcDrawing" />
  <xs:complexType name="DcModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcModelBase" nillable="true" type="tns:DcModelBase" />
</xs:schema>