PMSClient/Service References/Maintainance/MaintenanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaintenanceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/MaintenanceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/MaintenanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/MaintenanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaintenanceService_GetMaintenancePlans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenancePlans" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetMaintenancePlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenancePlansResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetMaintenancePlanCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenancePlanCount" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetMaintenancePlanCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenancePlanCountResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_AddMainitenancePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMainitenancePlan" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_AddMainitenancePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMainitenancePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_UpdateMainitenancePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMainitenancePlan" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_UpdateMainitenancePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMainitenancePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetMaintenanceRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenanceRecords" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetMaintenanceRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenanceRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetMaintenanceRecordsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenanceRecordsCount" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_GetMaintenanceRecordsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenanceRecordsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_AddMainitenanceRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMainitenanceRecord" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_AddMainitenanceRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMainitenanceRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_UpdateMainitenanceRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMainitenanceRecord" />
  </wsdl:message>
  <wsdl:message name="IMaintenanceService_UpdateMainitenanceRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMainitenanceRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaintenanceService">
    <wsdl:operation name="GetMaintenancePlans">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaintenanceService/GetMaintenancePlans" message="tns:IMaintenanceService_GetMaintenancePlans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaintenanceService/GetMaintenancePlansResponse" message="tns:IMaintenanceService_GetMaintenancePlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaintenancePlanCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaintenanceService/GetMaintenancePlanCount" message="tns:IMaintenanceService_GetMaintenancePlanCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaintenanceService/GetMaintenancePlanCountResponse" message="tns:IMaintenanceService_GetMaintenancePlanCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMainitenancePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaintenanceService/AddMainitenancePlan" message="tns:IMaintenanceService_AddMainitenancePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaintenanceService/AddMainitenancePlanResponse" message="tns:IMaintenanceService_AddMainitenancePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMainitenancePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaintenanceService/UpdateMainitenancePlan" message="tns:IMaintenanceService_UpdateMainitenancePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaintenanceService/UpdateMainitenancePlanResponse" message="tns:IMaintenanceService_UpdateMainitenancePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaintenanceRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaintenanceService/GetMaintenanceRecords" message="tns:IMaintenanceService_GetMaintenanceRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaintenanceService/GetMaintenanceRecordsResponse" message="tns:IMaintenanceService_GetMaintenanceRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaintenanceRecordsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaintenanceService/GetMaintenanceRecordsCount" message="tns:IMaintenanceService_GetMaintenanceRecordsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaintenanceService/GetMaintenanceRecordsCountResponse" message="tns:IMaintenanceService_GetMaintenanceRecordsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMainitenanceRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaintenanceService/AddMainitenanceRecord" message="tns:IMaintenanceService_AddMainitenanceRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaintenanceService/AddMainitenanceRecordResponse" message="tns:IMaintenanceService_AddMainitenanceRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMainitenanceRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaintenanceService/UpdateMainitenanceRecord" message="tns:IMaintenanceService_UpdateMainitenanceRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaintenanceService/UpdateMainitenanceRecordResponse" message="tns:IMaintenanceService_UpdateMainitenanceRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaintenanceService" type="tns:IMaintenanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaintenancePlans">
      <soap:operation soapAction="http://tempuri.org/IMaintenanceService/GetMaintenancePlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaintenancePlanCount">
      <soap:operation soapAction="http://tempuri.org/IMaintenanceService/GetMaintenancePlanCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMainitenancePlan">
      <soap:operation soapAction="http://tempuri.org/IMaintenanceService/AddMainitenancePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMainitenancePlan">
      <soap:operation soapAction="http://tempuri.org/IMaintenanceService/UpdateMainitenancePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaintenanceRecords">
      <soap:operation soapAction="http://tempuri.org/IMaintenanceService/GetMaintenanceRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaintenanceRecordsCount">
      <soap:operation soapAction="http://tempuri.org/IMaintenanceService/GetMaintenanceRecordsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMainitenanceRecord">
      <soap:operation soapAction="http://tempuri.org/IMaintenanceService/AddMainitenanceRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMainitenanceRecord">
      <soap:operation soapAction="http://tempuri.org/IMaintenanceService/UpdateMainitenanceRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaintenanceService">
    <wsdl:port name="BasicHttpBinding_IMaintenanceService" binding="tns:BasicHttpBinding_IMaintenanceService">
      <soap:address location="http://192.168.16.254:8002/MaintenanceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>