PMSClient/Service References/UserSimpleService/UserSimpleService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserSimpleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/UserSimpleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/UserSimpleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/UserSimpleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserSimpleService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRole" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetAccesses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccesses" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetAccesses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetAccessGrantByControl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessGrantByControl" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetAccessGrantByControl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessGrantByControlResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetAllAccessGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccessGrant" />
  </wsdl:message>
  <wsdl:message name="IUserSimpleService_GetAllAccessGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccessGrantResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserSimpleService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSimpleService/GetUser" message="tns:IUserSimpleService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSimpleService/GetUserResponse" message="tns:IUserSimpleService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSimpleService/GetRole" message="tns:IUserSimpleService_GetRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSimpleService/GetRoleResponse" message="tns:IUserSimpleService_GetRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccesses">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSimpleService/GetAccesses" message="tns:IUserSimpleService_GetAccesses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSimpleService/GetAccessesResponse" message="tns:IUserSimpleService_GetAccesses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessGrantByControl">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSimpleService/GetAccessGrantByControl" message="tns:IUserSimpleService_GetAccessGrantByControl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSimpleService/GetAccessGrantByControlResponse" message="tns:IUserSimpleService_GetAccessGrantByControl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccessGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSimpleService/GetAllAccessGrant" message="tns:IUserSimpleService_GetAllAccessGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSimpleService/GetAllAccessGrantResponse" message="tns:IUserSimpleService_GetAllAccessGrant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="usersimple" type="tns:IUserSimpleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserSimpleService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <soap:operation soapAction="http://tempuri.org/IUserSimpleService/GetRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccesses">
      <soap:operation soapAction="http://tempuri.org/IUserSimpleService/GetAccesses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessGrantByControl">
      <soap:operation soapAction="http://tempuri.org/IUserSimpleService/GetAccessGrantByControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccessGrant">
      <soap:operation soapAction="http://tempuri.org/IUserSimpleService/GetAllAccessGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserSimpleService">
    <wsdl:port name="usersimple" binding="tns:usersimple">
      <soap:address location="http://192.168.16.254:8002/UserSimpleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>