PMSClient/Service References/Sample/SampleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/SampleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcSample">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcSample" nillable="true" type="tns:DcSample" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcSample" nillable="true" type="tns:ArrayOfDcSample" />
  <xs:complexType name="DcSample">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GDMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ICPOES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IGA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MoreInformation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OriginalRequirement" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherTestResult" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PMINumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Permittivity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampleFor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampleID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampleType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Thermal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TraceInformation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrackingStage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcSample" nillable="true" type="tns:DcSample" />
  <xs:complexType name="DcModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcModelBase" nillable="true" type="tns:DcModelBase" />
</xs:schema>