PMSClient/Service References/Other/RawMaterialSheetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RawMaterialSheetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/RawMaterialSheetService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/RawMaterialSheetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/RawMaterialSheetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRawMaterialSheetService_GetRawMaterialSheetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMaterialSheetAll" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_GetRawMaterialSheetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMaterialSheetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_GetRawMaterialSheetAllCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMaterialSheetAllCount" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_GetRawMaterialSheetAllCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMaterialSheetAllCountResponse" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_GetRawMaterialSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMaterialSheet" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_GetRawMaterialSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMaterialSheetResponse" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_GetRawMaterialSheetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMaterialSheetCount" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_GetRawMaterialSheetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMaterialSheetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_AddRawMaterialSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRawMaterialSheet" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_AddRawMaterialSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRawMaterialSheetResponse" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_UpdateRawMaterialSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRawMaterialSheet" />
  </wsdl:message>
  <wsdl:message name="IRawMaterialSheetService_UpdateRawMaterialSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRawMaterialSheetResponse" />
  </wsdl:message>
  <wsdl:portType name="IRawMaterialSheetService">
    <wsdl:operation name="GetRawMaterialSheetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetAll" message="tns:IRawMaterialSheetService_GetRawMaterialSheetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetAllResponse" message="tns:IRawMaterialSheetService_GetRawMaterialSheetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawMaterialSheetAllCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetAllCount" message="tns:IRawMaterialSheetService_GetRawMaterialSheetAllCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetAllCountResponse" message="tns:IRawMaterialSheetService_GetRawMaterialSheetAllCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawMaterialSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheet" message="tns:IRawMaterialSheetService_GetRawMaterialSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetResponse" message="tns:IRawMaterialSheetService_GetRawMaterialSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawMaterialSheetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetCount" message="tns:IRawMaterialSheetService_GetRawMaterialSheetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetCountResponse" message="tns:IRawMaterialSheetService_GetRawMaterialSheetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRawMaterialSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/IRawMaterialSheetService/AddRawMaterialSheet" message="tns:IRawMaterialSheetService_AddRawMaterialSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRawMaterialSheetService/AddRawMaterialSheetResponse" message="tns:IRawMaterialSheetService_AddRawMaterialSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRawMaterialSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/IRawMaterialSheetService/UpdateRawMaterialSheet" message="tns:IRawMaterialSheetService_UpdateRawMaterialSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRawMaterialSheetService/UpdateRawMaterialSheetResponse" message="tns:IRawMaterialSheetService_UpdateRawMaterialSheet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rawmaterialsheet" type="tns:IRawMaterialSheetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRawMaterialSheetAll">
      <soap:operation soapAction="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRawMaterialSheetAllCount">
      <soap:operation soapAction="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetAllCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRawMaterialSheet">
      <soap:operation soapAction="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRawMaterialSheetCount">
      <soap:operation soapAction="http://tempuri.org/IRawMaterialSheetService/GetRawMaterialSheetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRawMaterialSheet">
      <soap:operation soapAction="http://tempuri.org/IRawMaterialSheetService/AddRawMaterialSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRawMaterialSheet">
      <soap:operation soapAction="http://tempuri.org/IRawMaterialSheetService/UpdateRawMaterialSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RawMaterialSheetService">
    <wsdl:port name="rawmaterialsheet" binding="tns:rawmaterialsheet">
      <soap:address location="http://192.168.16.254:8002/RawMaterialSheetService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>