PMSClient/Service References/EditLockService/EditLockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EditLockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/EditLockService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/EditLockService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/EditLockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEditLockService_Lock_InputMessage">
    <wsdl:part name="parameters" element="tns:Lock" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_Lock_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockResponse" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_UnLock_InputMessage">
    <wsdl:part name="parameters" element="tns:UnLock" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_UnLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnLockResponse" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_UnLockAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UnLockAll" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_UnLockAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnLockAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_UnLockByLocker_InputMessage">
    <wsdl:part name="parameters" element="tns:UnLockByLocker" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_UnLockByLocker_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnLockByLockerResponse" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_CheckLock_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLock" />
  </wsdl:message>
  <wsdl:message name="IEditLockService_CheckLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLockResponse" />
  </wsdl:message>
  <wsdl:portType name="IEditLockService">
    <wsdl:operation name="Lock">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditLockService/Lock" message="tns:IEditLockService_Lock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditLockService/LockResponse" message="tns:IEditLockService_Lock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditLockService/UnLock" message="tns:IEditLockService_UnLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditLockService/UnLockResponse" message="tns:IEditLockService_UnLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnLockAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditLockService/UnLockAll" message="tns:IEditLockService_UnLockAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditLockService/UnLockAllResponse" message="tns:IEditLockService_UnLockAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnLockByLocker">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditLockService/UnLockByLocker" message="tns:IEditLockService_UnLockByLocker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditLockService/UnLockByLockerResponse" message="tns:IEditLockService_UnLockByLocker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditLockService/CheckLock" message="tns:IEditLockService_CheckLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditLockService/CheckLockResponse" message="tns:IEditLockService_CheckLock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="editlock" type="tns:IEditLockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lock">
      <soap:operation soapAction="http://tempuri.org/IEditLockService/Lock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLock">
      <soap:operation soapAction="http://tempuri.org/IEditLockService/UnLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLockAll">
      <soap:operation soapAction="http://tempuri.org/IEditLockService/UnLockAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLockByLocker">
      <soap:operation soapAction="http://tempuri.org/IEditLockService/UnLockByLocker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLock">
      <soap:operation soapAction="http://tempuri.org/IEditLockService/CheckLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EditLockService">
    <wsdl:port name="editlock" binding="tns:editlock">
      <soap:address location="http://192.168.16.254:8002/EditLockService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>