PMSClient/Service References/StatisticService/StatisticService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/StatisticService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
  <xs:element name="GetOrderStatisticByYear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatisticByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetOrderStatisticByYearResult" nillable="true" type="q1:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatisticBySeason">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatisticBySeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetOrderStatisticBySeasonResult" nillable="true" type="q2:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatisticByMonth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatisticByMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetOrderStatisticByMonthResult" nillable="true" type="q3:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatisticByCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatisticByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetOrderStatisticByCustomerResult" nillable="true" type="q4:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissonStatistic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissonStatisticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetMissonStatisticResult" nillable="true" type="q5:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanStatisticByYear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanStatisticByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetPlanStatisticByYearResult" nillable="true" type="q6:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanStatisticByMonth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanStatisticByMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetPlanStatisticByMonthResult" nillable="true" type="q7:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanStatisticBySeaon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanStatisticBySeaonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetPlanStatisticBySeaonResult" nillable="true" type="q8:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanStatisticByDevice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanStatisticByDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetPlanStatisticByDeviceResult" nillable="true" type="q9:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryByYear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetDeliveryByYearResult" nillable="true" type="q10:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryBySeaon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryBySeaonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetDeliveryBySeaonResult" nillable="true" type="q11:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryByMonth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryByMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetDeliveryByMonthResult" nillable="true" type="q12:ArrayOfDcStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>