PMSClient/Service References/StatisticService/StatisticService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDcStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcStatistic" nillable="true" type="tns:DcStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcStatistic" nillable="true" type="tns:ArrayOfDcStatistic" />
  <xs:complexType name="DcStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcStatistic" nillable="true" type="tns:DcStatistic" />
</xs:schema>