PMSClient/Service References/ToolService/ToolService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/ToolService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcToolSieve">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcToolSieve" nillable="true" type="tns:DcToolSieve" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcToolSieve" nillable="true" type="tns:ArrayOfDcToolSieve" />
  <xs:complexType name="DcToolSieve">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Manufacture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcToolSieve" nillable="true" type="tns:DcToolSieve" />
</xs:schema>