PMSClient/Service References/ToolService/ToolService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToolService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/ToolService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/ToolService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/ToolService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToolSieveService_GetToolSieve_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToolSieve" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetToolSieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToolSieveResponse" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetToolSieveCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToolSieveCount" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetToolSieveCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToolSieveCountResponse" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetToolSieveUsed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToolSieveUsed" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetToolSieveUsed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToolSieveUsedResponse" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetToolSieveUsedCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToolSieveUsedCount" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetToolSieveUsedCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToolSieveUsedCountResponse" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_AddToolSieve_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToolSieve" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_AddToolSieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToolSieveResponse" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_UpdateToolSieve_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToolSieve" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_UpdateToolSieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToolSieveResponse" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_CheckToolSieveExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckToolSieveExist" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_CheckToolSieveExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckToolSieveExistResponse" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_CheckToolMillingBoxExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckToolMillingBoxExist" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_CheckToolMillingBoxExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckToolMillingBoxExistResponse" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetMaxToolSieveNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxToolSieveNumber" />
  </wsdl:message>
  <wsdl:message name="IToolSieveService_GetMaxToolSieveNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxToolSieveNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IToolSieveService">
    <wsdl:operation name="GetToolSieve">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/GetToolSieve" message="tns:IToolSieveService_GetToolSieve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/GetToolSieveResponse" message="tns:IToolSieveService_GetToolSieve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToolSieveCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/GetToolSieveCount" message="tns:IToolSieveService_GetToolSieveCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/GetToolSieveCountResponse" message="tns:IToolSieveService_GetToolSieveCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToolSieveUsed">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/GetToolSieveUsed" message="tns:IToolSieveService_GetToolSieveUsed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/GetToolSieveUsedResponse" message="tns:IToolSieveService_GetToolSieveUsed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToolSieveUsedCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/GetToolSieveUsedCount" message="tns:IToolSieveService_GetToolSieveUsedCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/GetToolSieveUsedCountResponse" message="tns:IToolSieveService_GetToolSieveUsedCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToolSieve">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/AddToolSieve" message="tns:IToolSieveService_AddToolSieve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/AddToolSieveResponse" message="tns:IToolSieveService_AddToolSieve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToolSieve">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/UpdateToolSieve" message="tns:IToolSieveService_UpdateToolSieve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/UpdateToolSieveResponse" message="tns:IToolSieveService_UpdateToolSieve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckToolSieveExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/CheckToolSieveExist" message="tns:IToolSieveService_CheckToolSieveExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/CheckToolSieveExistResponse" message="tns:IToolSieveService_CheckToolSieveExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckToolMillingBoxExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/CheckToolMillingBoxExist" message="tns:IToolSieveService_CheckToolMillingBoxExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/CheckToolMillingBoxExistResponse" message="tns:IToolSieveService_CheckToolMillingBoxExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxToolSieveNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolSieveService/GetMaxToolSieveNumber" message="tns:IToolSieveService_GetMaxToolSieveNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolSieveService/GetMaxToolSieveNumberResponse" message="tns:IToolSieveService_GetMaxToolSieveNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sieve" type="tns:IToolSieveService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToolSieve">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/GetToolSieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToolSieveCount">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/GetToolSieveCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToolSieveUsed">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/GetToolSieveUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToolSieveUsedCount">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/GetToolSieveUsedCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToolSieve">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/AddToolSieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToolSieve">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/UpdateToolSieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToolSieveExist">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/CheckToolSieveExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToolMillingBoxExist">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/CheckToolMillingBoxExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxToolSieveNumber">
      <soap:operation soapAction="http://tempuri.org/IToolSieveService/GetMaxToolSieveNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToolService">
    <wsdl:port name="sieve" binding="tns:sieve">
      <soap:address location="http://192.168.16.254:8002/ToolService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>