PMSClient/Service References/OutputService/OutputService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OutputService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/OutputService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/OutputService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/OutputService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOutputService_GetAll230Data_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll230Data" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetAll230Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAll230DataResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetAll230DataCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll230DataCount" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetAll230DataCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAll230DataCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetAll230DataByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll230DataByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetAll230DataByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAll230DataByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetAll230DataByYearMonthCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll230DataByYearMonthCount" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetAll230DataByYearMonthCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAll230DataByYearMonthCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetOrderByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetOrderByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetOrderByYearMonthCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByYearMonthCount" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetOrderByYearMonthCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByYearMonthCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetPlanByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetPlanByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetPlanByYearMonthCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanByYearMonthCount" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetPlanByYearMonthCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanByYearMonthCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetPlanTrace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTrace" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetPlanTrace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTraceResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetPlanTraceCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTraceCount" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetPlanTraceCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTraceCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetMaterialOrderItemsByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemsByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetMaterialOrderItemsByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemsByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetMaterialOrderItemsByYearMonthCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemsByYearMonthCount" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetMaterialOrderItemsByYearMonthCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialOrderItemsByYearMonthCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetConsumableInventoryByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumableInventoryByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetConsumableInventoryByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumableInventoryByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetConsumableInventoryByYearMonthCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumableInventoryByYearMonthCount" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetConsumableInventoryByYearMonthCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumableInventoryByYearMonthCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetConsumablePurchaseByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumablePurchaseByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetConsumablePurchaseByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumablePurchaseByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetConsumablePurchaseByYearMonthCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumablePurchaseByYearMonthCount" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetConsumablePurchaseByYearMonthCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumablePurchaseByYearMonthCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetRecordBondingByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordBondingByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetRecordBondingByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordBondingByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetRecordBondingCountByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordBondingCountByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetRecordBondingCountByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordBondingCountByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetRecordTestByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordTestByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetRecordTestByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordTestByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetRecordTestCountByYearMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordTestCountByYearMonth" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetRecordTestCountByYearMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordTestCountByYearMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetDeliveries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveries" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GetDeliveries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IOutputService">
    <wsdl:operation name="GetAll230Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetAll230Data" message="tns:IOutputService_GetAll230Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetAll230DataResponse" message="tns:IOutputService_GetAll230Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll230DataCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetAll230DataCount" message="tns:IOutputService_GetAll230DataCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetAll230DataCountResponse" message="tns:IOutputService_GetAll230DataCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll230DataByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetAll230DataByYearMonth" message="tns:IOutputService_GetAll230DataByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetAll230DataByYearMonthResponse" message="tns:IOutputService_GetAll230DataByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll230DataByYearMonthCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetAll230DataByYearMonthCount" message="tns:IOutputService_GetAll230DataByYearMonthCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetAll230DataByYearMonthCountResponse" message="tns:IOutputService_GetAll230DataByYearMonthCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetOrderByYearMonth" message="tns:IOutputService_GetOrderByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetOrderByYearMonthResponse" message="tns:IOutputService_GetOrderByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByYearMonthCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetOrderByYearMonthCount" message="tns:IOutputService_GetOrderByYearMonthCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetOrderByYearMonthCountResponse" message="tns:IOutputService_GetOrderByYearMonthCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetPlanByYearMonth" message="tns:IOutputService_GetPlanByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetPlanByYearMonthResponse" message="tns:IOutputService_GetPlanByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanByYearMonthCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetPlanByYearMonthCount" message="tns:IOutputService_GetPlanByYearMonthCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetPlanByYearMonthCountResponse" message="tns:IOutputService_GetPlanByYearMonthCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanTrace">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetPlanTrace" message="tns:IOutputService_GetPlanTrace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetPlanTraceResponse" message="tns:IOutputService_GetPlanTrace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanTraceCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetPlanTraceCount" message="tns:IOutputService_GetPlanTraceCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetPlanTraceCountResponse" message="tns:IOutputService_GetPlanTraceCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemsByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetMaterialOrderItemsByYearMonth" message="tns:IOutputService_GetMaterialOrderItemsByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetMaterialOrderItemsByYearMonthResponse" message="tns:IOutputService_GetMaterialOrderItemsByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemsByYearMonthCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetMaterialOrderItemsByYearMonthCount" message="tns:IOutputService_GetMaterialOrderItemsByYearMonthCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetMaterialOrderItemsByYearMonthCountResponse" message="tns:IOutputService_GetMaterialOrderItemsByYearMonthCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumableInventoryByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetConsumableInventoryByYearMonth" message="tns:IOutputService_GetConsumableInventoryByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetConsumableInventoryByYearMonthResponse" message="tns:IOutputService_GetConsumableInventoryByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumableInventoryByYearMonthCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetConsumableInventoryByYearMonthCount" message="tns:IOutputService_GetConsumableInventoryByYearMonthCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetConsumableInventoryByYearMonthCountResponse" message="tns:IOutputService_GetConsumableInventoryByYearMonthCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumablePurchaseByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetConsumablePurchaseByYearMonth" message="tns:IOutputService_GetConsumablePurchaseByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetConsumablePurchaseByYearMonthResponse" message="tns:IOutputService_GetConsumablePurchaseByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumablePurchaseByYearMonthCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetConsumablePurchaseByYearMonthCount" message="tns:IOutputService_GetConsumablePurchaseByYearMonthCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetConsumablePurchaseByYearMonthCountResponse" message="tns:IOutputService_GetConsumablePurchaseByYearMonthCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordBondingByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetRecordBondingByYearMonth" message="tns:IOutputService_GetRecordBondingByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetRecordBondingByYearMonthResponse" message="tns:IOutputService_GetRecordBondingByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordBondingCountByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetRecordBondingCountByYearMonth" message="tns:IOutputService_GetRecordBondingCountByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetRecordBondingCountByYearMonthResponse" message="tns:IOutputService_GetRecordBondingCountByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordTestByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetRecordTestByYearMonth" message="tns:IOutputService_GetRecordTestByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetRecordTestByYearMonthResponse" message="tns:IOutputService_GetRecordTestByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordTestCountByYearMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetRecordTestCountByYearMonth" message="tns:IOutputService_GetRecordTestCountByYearMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetRecordTestCountByYearMonthResponse" message="tns:IOutputService_GetRecordTestCountByYearMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GetDeliveries" message="tns:IOutputService_GetDeliveries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GetDeliveriesResponse" message="tns:IOutputService_GetDeliveries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="output" type="tns:IOutputService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll230Data">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetAll230Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll230DataCount">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetAll230DataCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll230DataByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetAll230DataByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll230DataByYearMonthCount">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetAll230DataByYearMonthCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetOrderByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByYearMonthCount">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetOrderByYearMonthCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetPlanByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanByYearMonthCount">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetPlanByYearMonthCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanTrace">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetPlanTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanTraceCount">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetPlanTraceCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemsByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetMaterialOrderItemsByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialOrderItemsByYearMonthCount">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetMaterialOrderItemsByYearMonthCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumableInventoryByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetConsumableInventoryByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumableInventoryByYearMonthCount">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetConsumableInventoryByYearMonthCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumablePurchaseByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetConsumablePurchaseByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumablePurchaseByYearMonthCount">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetConsumablePurchaseByYearMonthCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordBondingByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetRecordBondingByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordBondingCountByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetRecordBondingCountByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordTestByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetRecordTestByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordTestCountByYearMonth">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetRecordTestCountByYearMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GetDeliveries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutputService">
    <wsdl:port name="output" binding="tns:output">
      <soap:address location="http://192.168.16.254:8002/OutputService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>