PMSClient/Service References/OutputService/OutputService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/OutputService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPMS230DataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PMS230DataModel" nillable="true" type="tns:PMS230DataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPMS230DataModel" nillable="true" type="tns:ArrayOfPMS230DataModel" />
  <xs:complexType name="PMS230DataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bond" nillable="true" type="tns:DcRecordBonding" />
      <xs:element minOccurs="0" name="Delivery" nillable="true" type="tns:DcDeliveryItem" />
      <xs:element minOccurs="0" name="Test" nillable="true" type="tns:DcRecordTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PMS230DataModel" nillable="true" type="tns:PMS230DataModel" />
  <xs:complexType name="DcRecordBonding">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverPlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="PlanBatchNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PlateLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetComposition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDefects" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDetailRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldingDefect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldingRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcRecordBonding" nillable="true" type="tns:DcRecordBonding" />
  <xs:complexType name="DcDeliveryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BondingPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Defects" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryID" type="ser:guid" />
      <xs:element minOccurs="0" name="DeliveryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCBRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCBState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackingHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcDeliveryItem" nillable="true" type="tns:DcDeliveryItem" />
  <xs:complexType name="DcRecordTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackingPlateLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CScan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionXRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Defects" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Density" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FollowUps" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LastUpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parallelism" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resistance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roughness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sample" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Warping" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcRecordTest" nillable="true" type="tns:DcRecordTest" />
  <xs:complexType name="ArrayOfDcOutputSpecialFor230Model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcOutputSpecialFor230Model" nillable="true" type="tns:DcOutputSpecialFor230Model" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcOutputSpecialFor230Model" nillable="true" type="tns:ArrayOfDcOutputSpecialFor230Model" />
  <xs:complexType name="DcOutputSpecialFor230Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="BondCreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionXRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryCreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Density" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resistance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldingRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcOutputSpecialFor230Model" nillable="true" type="tns:DcOutputSpecialFor230Model" />
  <xs:complexType name="ArrayOfDcOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcOrder" nillable="true" type="tns:DcOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcOrder" nillable="true" type="tns:ArrayOfDcOrder" />
  <xs:complexType name="DcOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="BondingRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionStandard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeadLine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drawing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LaserNeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaterialIndex" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumAcceptDefect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateDrawing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductionIndex" type="xs:double" />
      <xs:element minOccurs="0" name="Purity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="QuantityUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reviewer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleForAnlysis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleForAnlysisRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleNeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleNeedRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondMachineDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondMachineDimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WithBackingPlate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcOrder" nillable="true" type="tns:DcOrder" />
  <xs:complexType name="ArrayOfDcPlanExtra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcPlanExtra" nillable="true" type="tns:DcPlanExtra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcPlanExtra" nillable="true" type="tns:ArrayOfDcPlanExtra" />
  <xs:complexType name="DcPlanExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Misson" nillable="true" type="tns:DcOrder" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="tns:DcPlanVHP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPlanExtra" nillable="true" type="tns:DcPlanExtra" />
  <xs:complexType name="DcPlanVHP">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllWeight" type="xs:double" />
      <xs:element minOccurs="0" name="CalculationDensity" type="xs:double" />
      <xs:element minOccurs="0" name="Conclusion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FillingRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="GrainSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeepTempTime" type="xs:double" />
      <xs:element minOccurs="0" name="MachineRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MillingRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoldDiameter" type="xs:double" />
      <xs:element minOccurs="0" name="MoldNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="ser:guid" />
      <xs:element minOccurs="0" name="PlanDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlanLot" type="xs:int" />
      <xs:element minOccurs="0" name="PlanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrePressure" type="xs:double" />
      <xs:element minOccurs="0" name="PreTemperature" type="xs:double" />
      <xs:element minOccurs="0" name="Pressure" type="xs:double" />
      <xs:element minOccurs="0" name="ProcessCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomHumidity" type="xs:double" />
      <xs:element minOccurs="0" name="RoomTemperature" type="xs:double" />
      <xs:element minOccurs="0" name="SearchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingleWeight" type="xs:double" />
      <xs:element minOccurs="0" name="SpecialRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="Thickness" type="xs:double" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Updator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VHPDeviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VHPRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vaccum" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPlanVHP" nillable="true" type="tns:DcPlanVHP" />
  <xs:complexType name="ArrayOfDcPlanTrace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcPlanTrace" nillable="true" type="tns:DcPlanTrace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcPlanTrace" nillable="true" type="tns:ArrayOfDcPlanTrace" />
  <xs:complexType name="DcPlanTrace">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompositionStd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MoldDiameter" type="xs:double" />
      <xs:element minOccurs="0" name="OrderQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="PMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="RecordBonding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordDeMold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordFailure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordMachine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordTest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VHPDeviceCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPlanTrace" nillable="true" type="tns:DcPlanTrace" />
  <xs:complexType name="ArrayOfDcMaterialOrderItemExtra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcMaterialOrderItemExtra" nillable="true" type="tns:DcMaterialOrderItemExtra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcMaterialOrderItemExtra" nillable="true" type="tns:ArrayOfDcMaterialOrderItemExtra" />
  <xs:complexType name="DcMaterialOrderItemExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaterialOrder" nillable="true" type="tns:DcMaterialOrder" />
      <xs:element minOccurs="0" name="MaterialOrderItem" nillable="true" type="tns:DcMaterialOrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcMaterialOrderItemExtra" nillable="true" type="tns:DcMaterialOrderItemExtra" />
  <xs:complexType name="DcMaterialOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="OrderPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipFee" type="xs:double" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierReceiver" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcMaterialOrder" nillable="true" type="tns:DcMaterialOrder" />
  <xs:complexType name="DcMaterialOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HowManyTargets" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MaterialOrderID" type="ser:guid" />
      <xs:element minOccurs="0" name="MaterialPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvideRawMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SJIngredient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcMaterialOrderItem" nillable="true" type="tns:DcMaterialOrderItem" />
  <xs:complexType name="ArrayOfDcConsumableInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcConsumableInventory" nillable="true" type="tns:DcConsumableInventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcConsumableInventory" nillable="true" type="tns:ArrayOfDcConsumableInventory" />
  <xs:complexType name="DcConsumableInventory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountHistory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="History" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastUpdateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MaxWarningQuantity" type="xs:double" />
          <xs:element minOccurs="0" name="MinWarningQuantity" type="xs:double" />
          <xs:element minOccurs="0" name="PersonInCharge" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:double" />
          <xs:element minOccurs="0" name="QuantityUnit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Specification" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StorePosition" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcConsumableInventory" nillable="true" type="tns:DcConsumableInventory" />
  <xs:complexType name="DcModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcModelBase" nillable="true" type="tns:DcModelBase" />
  <xs:complexType name="ArrayOfDcConsumablePurchase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcConsumablePurchase" nillable="true" type="tns:DcConsumablePurchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcConsumablePurchase" nillable="true" type="tns:ArrayOfDcConsumablePurchase" />
  <xs:complexType name="DcConsumablePurchase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastUpdateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProcessHistory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:double" />
          <xs:element minOccurs="0" name="QuantityUnit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Specification" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalCost" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcConsumablePurchase" nillable="true" type="tns:DcConsumablePurchase" />
  <xs:complexType name="ArrayOfDcRecordBonding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcRecordBonding" nillable="true" type="tns:DcRecordBonding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcRecordBonding" nillable="true" type="tns:ArrayOfDcRecordBonding" />
  <xs:complexType name="ArrayOfDcRecordTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcRecordTest" nillable="true" type="tns:DcRecordTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcRecordTest" nillable="true" type="tns:ArrayOfDcRecordTest" />
</xs:schema>