PMSClient/Service References/OutputService/OutputService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/OutputService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPMS230DataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PMS230DataModel" nillable="true" type="tns:PMS230DataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPMS230DataModel" nillable="true" type="tns:ArrayOfPMS230DataModel" />
  <xs:complexType name="PMS230DataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bond" nillable="true" type="tns:DcRecordBonding" />
      <xs:element minOccurs="0" name="Delivery" nillable="true" type="tns:DcDeliveryItem" />
      <xs:element minOccurs="0" name="Test" nillable="true" type="tns:DcRecordTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PMS230DataModel" nillable="true" type="tns:PMS230DataModel" />
  <xs:complexType name="DcRecordBonding">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApperanceCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApperanceCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ApperancePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BindingCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BindingCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BindingPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CleanCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CleanCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CleanPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverPlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DimensionPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionWarpageCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InstructionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PackPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanBatchNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PlateAppearance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateBelong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlateDimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateHardness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateLastWeldMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateOtherRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatePreProcessCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlatePreProcessPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatePreProcessRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateSuplier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateUseCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SprayCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SprayCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SprayPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAppearance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TargetComposition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDefects" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDetailRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDiameterCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPreProcessCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TargetPreProcessPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPreProcessRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetThicknessCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetWarpageCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarpageCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WarpageFix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarpagePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeldCuStringDiameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldHold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeldingRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcRecordBonding" nillable="true" type="tns:DcRecordBonding" />
  <xs:complexType name="DcDeliveryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Defects" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryID" type="ser:guid" />
      <xs:element minOccurs="0" name="DetailRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcDeliveryItem" nillable="true" type="tns:DcDeliveryItem" />
  <xs:complexType name="DcRecordTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackingPlateLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CScan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompositionXRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Defects" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Density" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FollowUps" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PMINumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resistance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roughness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sample" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Warping" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcRecordTest" nillable="true" type="tns:DcRecordTest" />
</xs:schema>