PMSClient/Service References/OutputService/OutputService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/OutputService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
  <xs:element name="GetAll230Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" type="xs:int" />
        <xs:element minOccurs="0" name="t" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll230DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetAll230DataResult" nillable="true" type="q1:ArrayOfPMS230DataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll230DataCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll230DataCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAll230DataCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll230DataByYearMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" type="xs:int" />
        <xs:element minOccurs="0" name="t" type="xs:int" />
        <xs:element minOccurs="0" name="year_start" type="xs:int" />
        <xs:element minOccurs="0" name="month_start" type="xs:int" />
        <xs:element minOccurs="0" name="year_end" type="xs:int" />
        <xs:element minOccurs="0" name="month_end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll230DataByYearMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetAll230DataByYearMonthResult" nillable="true" type="q2:ArrayOfDcOutputSpecialFor230Model" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll230DataByYearMonthCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year_start" type="xs:int" />
        <xs:element minOccurs="0" name="month_start" type="xs:int" />
        <xs:element minOccurs="0" name="year_end" type="xs:int" />
        <xs:element minOccurs="0" name="month_end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll230DataByYearMonthCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAll230DataByYearMonthCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByYearMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" type="xs:int" />
        <xs:element minOccurs="0" name="t" type="xs:int" />
        <xs:element minOccurs="0" name="year_start" type="xs:int" />
        <xs:element minOccurs="0" name="month_start" type="xs:int" />
        <xs:element minOccurs="0" name="year_end" type="xs:int" />
        <xs:element minOccurs="0" name="month_end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByYearMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetOrderByYearMonthResult" nillable="true" type="q3:ArrayOfDcOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByYearMonthCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year_start" type="xs:int" />
        <xs:element minOccurs="0" name="month_start" type="xs:int" />
        <xs:element minOccurs="0" name="year_end" type="xs:int" />
        <xs:element minOccurs="0" name="month_end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByYearMonthCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderByYearMonthCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanByYearMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" type="xs:int" />
        <xs:element minOccurs="0" name="t" type="xs:int" />
        <xs:element minOccurs="0" name="year_start" type="xs:int" />
        <xs:element minOccurs="0" name="month_start" type="xs:int" />
        <xs:element minOccurs="0" name="year_end" type="xs:int" />
        <xs:element minOccurs="0" name="month_end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanByYearMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetPlanByYearMonthResult" nillable="true" type="q4:ArrayOfDcPlanExtra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanByYearMonthCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year_start" type="xs:int" />
        <xs:element minOccurs="0" name="month_start" type="xs:int" />
        <xs:element minOccurs="0" name="year_end" type="xs:int" />
        <xs:element minOccurs="0" name="month_end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanByYearMonthCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlanByYearMonthCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>