PMSClient/Service References/NewService/NewService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/NewService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/NewService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/NewService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="INewService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="INewService_GetOrderCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderCount" />
  </wsdl:message>
  <wsdl:message name="INewService_GetOrderCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderCountResponse" />
  </wsdl:message>
  <wsdl:message name="INewService_GetOrderLastUpdateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderLastUpdateTime" />
  </wsdl:message>
  <wsdl:message name="INewService_GetOrderLastUpdateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderLastUpdateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="INewService_GetOrderByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByID" />
  </wsdl:message>
  <wsdl:message name="INewService_GetOrderByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIDResponse" />
  </wsdl:message>
  <wsdl:message name="INewService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="INewService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="INewService_GetMisson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMisson" />
  </wsdl:message>
  <wsdl:message name="INewService_GetMisson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonResponse" />
  </wsdl:message>
  <wsdl:message name="INewService_GetMissonCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonCount" />
  </wsdl:message>
  <wsdl:message name="INewService_GetMissonCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissonCountResponse" />
  </wsdl:message>
  <wsdl:message name="INewService_GetRecordTestLastUpdateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordTestLastUpdateTime" />
  </wsdl:message>
  <wsdl:message name="INewService_GetRecordTestLastUpdateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordTestLastUpdateTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="INewService">
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/INewService/GetOrder" message="tns:INewService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewService/GetOrderResponse" message="tns:INewService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderCount">
      <wsdl:input wsaw:Action="http://tempuri.org/INewService/GetOrderCount" message="tns:INewService_GetOrderCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewService/GetOrderCountResponse" message="tns:INewService_GetOrderCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderLastUpdateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/INewService/GetOrderLastUpdateTime" message="tns:INewService_GetOrderLastUpdateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewService/GetOrderLastUpdateTimeResponse" message="tns:INewService_GetOrderLastUpdateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByID">
      <wsdl:input wsaw:Action="http://tempuri.org/INewService/GetOrderByID" message="tns:INewService_GetOrderByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewService/GetOrderByIDResponse" message="tns:INewService_GetOrderByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/INewService/UpdateOrder" message="tns:INewService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewService/UpdateOrderResponse" message="tns:INewService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMisson">
      <wsdl:input wsaw:Action="http://tempuri.org/INewService/GetMisson" message="tns:INewService_GetMisson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewService/GetMissonResponse" message="tns:INewService_GetMisson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMissonCount">
      <wsdl:input wsaw:Action="http://tempuri.org/INewService/GetMissonCount" message="tns:INewService_GetMissonCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewService/GetMissonCountResponse" message="tns:INewService_GetMissonCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordTestLastUpdateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/INewService/GetRecordTestLastUpdateTime" message="tns:INewService_GetRecordTestLastUpdateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewService/GetRecordTestLastUpdateTimeResponse" message="tns:INewService_GetRecordTestLastUpdateTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewService" type="tns:INewService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/INewService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderCount">
      <soap:operation soapAction="http://tempuri.org/INewService/GetOrderCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderLastUpdateTime">
      <soap:operation soapAction="http://tempuri.org/INewService/GetOrderLastUpdateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByID">
      <soap:operation soapAction="http://tempuri.org/INewService/GetOrderByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/INewService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMisson">
      <soap:operation soapAction="http://tempuri.org/INewService/GetMisson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMissonCount">
      <soap:operation soapAction="http://tempuri.org/INewService/GetMissonCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordTestLastUpdateTime">
      <soap:operation soapAction="http://tempuri.org/INewService/GetRecordTestLastUpdateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewService">
    <wsdl:port name="BasicHttpBinding_INewService" binding="tns:BasicHttpBinding_INewService">
      <soap:address location="http://192.168.16.254:8002/NewService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>