PMSClient/Service References/SimpleMaterialService/SimpleMaterialService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/SimpleMaterialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcSimpleMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcSimpleMaterial" nillable="true" type="tns:DcSimpleMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcSimpleMaterial" nillable="true" type="tns:ArrayOfDcSimpleMaterial" />
  <xs:complexType name="DcSimpleMaterial">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ElementName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcSimpleMaterial" nillable="true" type="tns:DcSimpleMaterial" />
  <xs:complexType name="DcModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcModelBase" nillable="true" type="tns:DcModelBase" />
</xs:schema>