PMSClient/Service References/AnlysisService/AnlysisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AnlysisService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/AnlysisService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/AnlysisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/AnlysisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAnlysisService_GetPlanTrace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTrace" />
  </wsdl:message>
  <wsdl:message name="IAnlysisService_GetPlanTrace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTraceResponse" />
  </wsdl:message>
  <wsdl:message name="IAnlysisService_GetPlanTraceCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTraceCount" />
  </wsdl:message>
  <wsdl:message name="IAnlysisService_GetPlanTraceCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanTraceCountResponse" />
  </wsdl:message>
  <wsdl:message name="IAnlysisService_GetStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistic" />
  </wsdl:message>
  <wsdl:message name="IAnlysisService_GetStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="IAnlysisService_GetStatisticCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticCustomer" />
  </wsdl:message>
  <wsdl:message name="IAnlysisService_GetStatisticCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IAnlysisService">
    <wsdl:operation name="GetPlanTrace">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnlysisService/GetPlanTrace" message="tns:IAnlysisService_GetPlanTrace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnlysisService/GetPlanTraceResponse" message="tns:IAnlysisService_GetPlanTrace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanTraceCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnlysisService/GetPlanTraceCount" message="tns:IAnlysisService_GetPlanTraceCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnlysisService/GetPlanTraceCountResponse" message="tns:IAnlysisService_GetPlanTraceCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistic">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnlysisService/GetStatistic" message="tns:IAnlysisService_GetStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnlysisService/GetStatisticResponse" message="tns:IAnlysisService_GetStatistic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatisticCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnlysisService/GetStatisticCustomer" message="tns:IAnlysisService_GetStatisticCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnlysisService/GetStatisticCustomerResponse" message="tns:IAnlysisService_GetStatisticCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAnlysisService" type="tns:IAnlysisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlanTrace">
      <soap:operation soapAction="http://tempuri.org/IAnlysisService/GetPlanTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanTraceCount">
      <soap:operation soapAction="http://tempuri.org/IAnlysisService/GetPlanTraceCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistic">
      <soap:operation soapAction="http://tempuri.org/IAnlysisService/GetStatistic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatisticCustomer">
      <soap:operation soapAction="http://tempuri.org/IAnlysisService/GetStatisticCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnlysisService">
    <wsdl:port name="BasicHttpBinding_IAnlysisService" binding="tns:BasicHttpBinding_IAnlysisService">
      <soap:address location="http://192.168.16.254:8002/AnlysisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>