PMSClient/Service References/AnlysisService/AnlysisService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/AnlysisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
  <xs:element name="GetPlanTrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" type="xs:int" />
        <xs:element minOccurs="0" name="t" type="xs:int" />
        <xs:element minOccurs="0" name="searchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="composition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pminumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanTraceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetPlanTraceResult" nillable="true" type="q1:ArrayOfDcPlanTrace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanTraceCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="composition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pminumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanTraceCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlanTraceCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>