PMSClient/Service References/UserService/UserAccessService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/UserAccessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcUser" nillable="true" type="tns:DcUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcUser" nillable="true" type="tns:ArrayOfDcUser" />
  <xs:complexType name="DcUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcUser" nillable="true" type="tns:DcUser" />
  <xs:complexType name="ArrayOfDcUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcUserRole" nillable="true" type="tns:DcUserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcUserRole" nillable="true" type="tns:ArrayOfDcUserRole" />
  <xs:complexType name="DcUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExtraInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcUserRole" nillable="true" type="tns:DcUserRole" />
  <xs:complexType name="ArrayOfDcUserAccess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcUserAccess" nillable="true" type="tns:DcUserAccess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcUserAccess" nillable="true" type="tns:ArrayOfDcUserAccess" />
  <xs:complexType name="DcUserAccess">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcUserAccess" nillable="true" type="tns:DcUserAccess" />
</xs:schema>