PMSClient/Service References/HeartBeatService/HeartBeatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HeartBeatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/HeartBeatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/HeartBeatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHeartBeatSerive_Beat_InputMessage">
    <wsdl:part name="parameters" element="tns:Beat" />
  </wsdl:message>
  <wsdl:message name="IHeartBeatSerive_Beat_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeatResponse" />
  </wsdl:message>
  <wsdl:message name="IHeartBeatSerive_GetOperationCallTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationCallTimes" />
  </wsdl:message>
  <wsdl:message name="IHeartBeatSerive_GetOperationCallTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationCallTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IHeartBeatSerive_GetOperationCallTimesToday_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationCallTimesToday" />
  </wsdl:message>
  <wsdl:message name="IHeartBeatSerive_GetOperationCallTimesToday_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationCallTimesTodayResponse" />
  </wsdl:message>
  <wsdl:message name="IHeartBeatSerive_GetOperationCallTimesYesterday_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationCallTimesYesterday" />
  </wsdl:message>
  <wsdl:message name="IHeartBeatSerive_GetOperationCallTimesYesterday_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationCallTimesYesterdayResponse" />
  </wsdl:message>
  <wsdl:portType name="IHeartBeatSerive">
    <wsdl:operation name="Beat">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeartBeatSerive/Beat" message="tns:IHeartBeatSerive_Beat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeartBeatSerive/BeatResponse" message="tns:IHeartBeatSerive_Beat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationCallTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimes" message="tns:IHeartBeatSerive_GetOperationCallTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimesResponse" message="tns:IHeartBeatSerive_GetOperationCallTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationCallTimesToday">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimesToday" message="tns:IHeartBeatSerive_GetOperationCallTimesToday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimesTodayResponse" message="tns:IHeartBeatSerive_GetOperationCallTimesToday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationCallTimesYesterday">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimesYesterday" message="tns:IHeartBeatSerive_GetOperationCallTimesYesterday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimesYesterdayResponse" message="tns:IHeartBeatSerive_GetOperationCallTimesYesterday_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="heartbeat" type="tns:IHeartBeatSerive">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Beat">
      <soap:operation soapAction="http://tempuri.org/IHeartBeatSerive/Beat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationCallTimes">
      <soap:operation soapAction="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationCallTimesToday">
      <soap:operation soapAction="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimesToday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationCallTimesYesterday">
      <soap:operation soapAction="http://tempuri.org/IHeartBeatSerive/GetOperationCallTimesYesterday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HeartBeatService">
    <wsdl:port name="heartbeat" binding="tns:heartbeat">
      <soap:address location="http://192.168.16.254:8002/HeartBeatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>