PMSLargeScreenMachine/Service References/LargeScreenService/LargeScreenService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LargeScreenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/LargeScreenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/LargeScreenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/LargeScreenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILargeScreenService_GetPlanByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanByDate" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetPlanByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanByDateResponse" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetPlanByDateDeviceCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanByDateDeviceCode" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetPlanByDateDeviceCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanByDateDeviceCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetPlanStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanStatistic" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetPlanStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetBondingUnComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBondingUnComplete" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetBondingUnComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBondingUnCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetBondingUnCompleteCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBondingUnCompleteCount" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetBondingUnCompleteCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBondingUnCompleteCountResponse" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetBondingCompleteStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBondingCompleteStatistic" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetBondingCompleteStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBondingCompleteStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetRecordMillings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordMillings" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetRecordMillings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordMillingsResponse" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetPlanOfMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanOfMachine" />
  </wsdl:message>
  <wsdl:message name="ILargeScreenService_GetPlanOfMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanOfMachineResponse" />
  </wsdl:message>
  <wsdl:portType name="ILargeScreenService">
    <wsdl:operation name="GetPlanByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILargeScreenService/GetPlanByDate" message="tns:ILargeScreenService_GetPlanByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILargeScreenService/GetPlanByDateResponse" message="tns:ILargeScreenService_GetPlanByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanByDateDeviceCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ILargeScreenService/GetPlanByDateDeviceCode" message="tns:ILargeScreenService_GetPlanByDateDeviceCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILargeScreenService/GetPlanByDateDeviceCodeResponse" message="tns:ILargeScreenService_GetPlanByDateDeviceCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanStatistic">
      <wsdl:input wsaw:Action="http://tempuri.org/ILargeScreenService/GetPlanStatistic" message="tns:ILargeScreenService_GetPlanStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILargeScreenService/GetPlanStatisticResponse" message="tns:ILargeScreenService_GetPlanStatistic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBondingUnComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILargeScreenService/GetBondingUnComplete" message="tns:ILargeScreenService_GetBondingUnComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILargeScreenService/GetBondingUnCompleteResponse" message="tns:ILargeScreenService_GetBondingUnComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBondingUnCompleteCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ILargeScreenService/GetBondingUnCompleteCount" message="tns:ILargeScreenService_GetBondingUnCompleteCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILargeScreenService/GetBondingUnCompleteCountResponse" message="tns:ILargeScreenService_GetBondingUnCompleteCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBondingCompleteStatistic">
      <wsdl:input wsaw:Action="http://tempuri.org/ILargeScreenService/GetBondingCompleteStatistic" message="tns:ILargeScreenService_GetBondingCompleteStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILargeScreenService/GetBondingCompleteStatisticResponse" message="tns:ILargeScreenService_GetBondingCompleteStatistic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordMillings">
      <wsdl:input wsaw:Action="http://tempuri.org/ILargeScreenService/GetRecordMillings" message="tns:ILargeScreenService_GetRecordMillings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILargeScreenService/GetRecordMillingsResponse" message="tns:ILargeScreenService_GetRecordMillings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanOfMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/ILargeScreenService/GetPlanOfMachine" message="tns:ILargeScreenService_GetPlanOfMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILargeScreenService/GetPlanOfMachineResponse" message="tns:ILargeScreenService_GetPlanOfMachine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="largescreen" type="tns:ILargeScreenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlanByDate">
      <soap:operation soapAction="http://tempuri.org/ILargeScreenService/GetPlanByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanByDateDeviceCode">
      <soap:operation soapAction="http://tempuri.org/ILargeScreenService/GetPlanByDateDeviceCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanStatistic">
      <soap:operation soapAction="http://tempuri.org/ILargeScreenService/GetPlanStatistic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondingUnComplete">
      <soap:operation soapAction="http://tempuri.org/ILargeScreenService/GetBondingUnComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondingUnCompleteCount">
      <soap:operation soapAction="http://tempuri.org/ILargeScreenService/GetBondingUnCompleteCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondingCompleteStatistic">
      <soap:operation soapAction="http://tempuri.org/ILargeScreenService/GetBondingCompleteStatistic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordMillings">
      <soap:operation soapAction="http://tempuri.org/ILargeScreenService/GetRecordMillings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanOfMachine">
      <soap:operation soapAction="http://tempuri.org/ILargeScreenService/GetPlanOfMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LargeScreenService">
    <wsdl:port name="largescreen" binding="tns:largescreen">
      <soap:address location="http://192.168.16.254:8002/LargeScreenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>