PMSLargeScreen/Service References/LargeScreenService/LargeScreenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/LargeScreenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
  <xs:element name="GetPlanByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="planDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" minOccurs="0" name="GetPlanByDateResult" nillable="true" type="q1:ArrayOfDcPlanExtra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>