PMSClientCastDivision/Service References/Other/RawMaterialSheetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/RawMaterialSheetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcRawMaterialSheet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcRawMaterialSheet" nillable="true" type="tns:DcRawMaterialSheet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcRawMaterialSheet" nillable="true" type="tns:ArrayOfDcRawMaterialSheet" />
  <xs:complexType name="DcRawMaterialSheet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GDMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ICPOES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSampleTaking" type="xs:boolean" />
          <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Purity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampleRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampleTakingTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StoreTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Weight" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcRawMaterialSheet" nillable="true" type="tns:DcRawMaterialSheet" />
  <xs:complexType name="DcModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcModelBase" nillable="true" type="tns:DcModelBase" />
</xs:schema>