PMSClient/Service References/TCB/TCBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TCBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.254:8002/TCBService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/TCBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.254:8002/TCBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITCBService_GetDeliveryItemTCB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemTCB" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDeliveryItemTCB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemTCBResponse" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDeliveryItemTCBCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemTCBCount" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDeliveryItemTCBCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemTCBCountResponse" />
  </wsdl:message>
  <wsdl:message name="ITCBService_AddDeliveryItemTCB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDeliveryItemTCB" />
  </wsdl:message>
  <wsdl:message name="ITCBService_AddDeliveryItemTCB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeliveryItemTCBResponse" />
  </wsdl:message>
  <wsdl:message name="ITCBService_UpdateDeliveryItemTCB_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryItemTCB" />
  </wsdl:message>
  <wsdl:message name="ITCBService_UpdateDeliveryItemTCB_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryItemTCBResponse" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDelivery" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDeliveryCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryCount" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDeliveryCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryCountResponse" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDeliveryItemTCBByDeliveryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemTCBByDeliveryID" />
  </wsdl:message>
  <wsdl:message name="ITCBService_GetDeliveryItemTCBByDeliveryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemTCBByDeliveryIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ITCBService">
    <wsdl:operation name="GetDeliveryItemTCB">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryItemTCB" message="tns:ITCBService_GetDeliveryItemTCB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryItemTCBResponse" message="tns:ITCBService_GetDeliveryItemTCB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryItemTCBCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryItemTCBCount" message="tns:ITCBService_GetDeliveryItemTCBCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryItemTCBCountResponse" message="tns:ITCBService_GetDeliveryItemTCBCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDeliveryItemTCB">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCBService/AddDeliveryItemTCB" message="tns:ITCBService_AddDeliveryItemTCB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCBService/AddDeliveryItemTCBResponse" message="tns:ITCBService_AddDeliveryItemTCB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryItemTCB">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCBService/UpdateDeliveryItemTCB" message="tns:ITCBService_UpdateDeliveryItemTCB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCBService/UpdateDeliveryItemTCBResponse" message="tns:ITCBService_UpdateDeliveryItemTCB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCBService/GetDelivery" message="tns:ITCBService_GetDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryResponse" message="tns:ITCBService_GetDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryCount" message="tns:ITCBService_GetDeliveryCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryCountResponse" message="tns:ITCBService_GetDeliveryCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryItemTCBByDeliveryID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryItemTCBByDeliveryID" message="tns:ITCBService_GetDeliveryItemTCBByDeliveryID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCBService/GetDeliveryItemTCBByDeliveryIDResponse" message="tns:ITCBService_GetDeliveryItemTCBByDeliveryID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tcb" type="tns:ITCBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeliveryItemTCB">
      <soap:operation soapAction="http://tempuri.org/ITCBService/GetDeliveryItemTCB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryItemTCBCount">
      <soap:operation soapAction="http://tempuri.org/ITCBService/GetDeliveryItemTCBCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeliveryItemTCB">
      <soap:operation soapAction="http://tempuri.org/ITCBService/AddDeliveryItemTCB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryItemTCB">
      <soap:operation soapAction="http://tempuri.org/ITCBService/UpdateDeliveryItemTCB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <soap:operation soapAction="http://tempuri.org/ITCBService/GetDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryCount">
      <soap:operation soapAction="http://tempuri.org/ITCBService/GetDeliveryCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryItemTCBByDeliveryID">
      <soap:operation soapAction="http://tempuri.org/ITCBService/GetDeliveryItemTCBByDeliveryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCBService">
    <wsdl:port name="tcb" binding="tns:tcb">
      <soap:address location="http://192.168.16.254:8002/TCBService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>