PMSClient/Service References/TCB/TCBService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMSWCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.16.254:8002/TCBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDcDeliveryItemTCB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcDeliveryItemTCB" nillable="true" type="tns:DcDeliveryItemTCB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcDeliveryItemTCB" nillable="true" type="tns:ArrayOfDcDeliveryItemTCB" />
  <xs:complexType name="DcDeliveryItemTCB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BondingPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Defects" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryID" type="ser:guid" />
      <xs:element minOccurs="0" name="DetailRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="PO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCBRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackingHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcDeliveryItemTCB" nillable="true" type="tns:DcDeliveryItemTCB" />
  <xs:complexType name="ArrayOfDcDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcDelivery" nillable="true" type="tns:DcDelivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcDelivery" nillable="true" type="tns:ArrayOfDcDelivery" />
  <xs:complexType name="DcDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerSignedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerSignedDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryExpress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCustomerSigned" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastCheckIDCollection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PackageInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcDelivery" nillable="true" type="tns:DcDelivery" />
</xs:schema>